body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #DFDFDF;
}

.container-list {
   margin-left: 350px;
   padding-top: 90px;
   padding-right: 100px;
   display: block;
   
}



#withdrawBtn {
    background-color:#DD4318;
    border-color: #DD4318;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    color: white;
    margin: 5px 0px;
}

#depositBtn {
    background-color: #1F2B3A;
    border-color: #1F2B3A;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    color: white;
    margin-left: 5px;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #1F2B3A;
    position: fixed;
    height: 100%;
    overflow: auto;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    
}



.sidebar a {
    display: block;
    color: #DFDFDF;
    padding: 16px;
    text-decoration: none;
    font-weight: bolder;
}

.sidebar p {
    top: 0;
    color:#DD4318;
    font-weight:800;
    margin: 10px;
    font-size:x-large;
}

.sidebar a:hover{
    background-color: #DD4318;
    color: #1F2B3A;

}

.navbar {
  position: fixed;
  top: 0;
  left: 250px;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
  background-color: #4E8F97;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);

}

.navbar a {
    padding: 20px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 400;
}



.navbar a:hover {
    text-decoration: underline;
    text-decoration-color: #1F2B3A;
    
    color: #1F2B3A;
}

.transactionTable {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    
   
}

.transactionTable th {
    text-align: left;
    background: #4E8F97;
    color: white;
    padding: 12px;
}

.transactionTable td {
    padding: 12px;
    border-bottom: 1px solid #eee;
}

.actionButtons {
    width: 2%;
}
tr:hover {
    background-color: #f8efec;
}

tr:last-child td {
    border-bottom: none;
}


.buttons {
    
    display: flex;
    width: 100%;
   
    justify-content: flex-end;
}

#icon-btn {
    background: #DFDFDF;
    color: #1F2B3A;
    font-weight: 900;
    font-size: xx-large;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 0px;
    
}

#icon-btn:hover {
    color:#DD4318;
}

.container {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    height: 400px;
    margin-top: 60px;
   
    
   
    
}



#container-header {
    margin-top: 0;
    
    margin-bottom: 10px;
    background-color: #4E8F97;
  
    
}

#newTransaction {
   margin-top: 0px;
    color: white;
    padding: 10px;
  
    font-size: x-large;
}



#itemInput{
    margin: 20px;
}

.icon-btn-edit {
    background: transparent;
    border: 1px solid #1F2B3A;
    color: #1F2B3A;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
}

.icon-btn-edit:hover, .icon-btn-delete:hover{
    background: #56AAB3;
    color: white;
}

.icon-btn-delete {
      background: transparent;
    border: 1px solid #DD4318;
    color: #DD4318;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
}

#logo {
    width: 250px;
    height: auto;
    margin-bottom: -30px;
    margin-left: 0px;
}

#fox {
    
    margin-top: auto;
    width: 250px;
    align-self: center;
    margin-bottom: 20px;
    

}

td.Withdraw {
    color: #DD4318;
   
}

#newForm{
    height: 350px;
    padding: 15px;
    gap: 20px;
    font-size: larger;
    
}

.itemGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.itemType {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.purchaseDetails {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#newForm input, #newForm select {
    width: 200px;
   
  
   
}
#newForm input[type="checkbox"] {
    width: auto;
}

.saveTransaction {
  display: flex;
  justify-content: flex-end;
  margin-top: 85px;
  color:#1F2B3A;
  
}

.submitButton {
    background-color:#1F2B3A;
    color: white;
    padding: 5px;
}

.submitButton:hover {
    background:#667385;
}

.summaryBlocks {
    background-color: white;
    width: 25%;
    height: 10vh;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
   
}

.summaryBlockTitles {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    padding: 0px;
}
.fa-wallet {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 30px;
    color:#1F2B3A;
    
}

.fa-credit-card {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 30px;
    color:#DD4318;
}

.fa-piggy-bank {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 30px;
    color:#4E8F97;
}

.fa-triangle-exclamation {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 30px;
    color: #45576B;
}

.totalTitle {
   

   
    font-size: 10px; 

}


#totalIncomeTitle h2{
    right: 10px;
    margin: 15px;
    padding: 15px;
    
}

#totalSpendingTitle h2{
    right: 10px;
    margin: 15px;
    padding: 15px;
}

.line {
    
    height: 1vh;
  
}

#analysisCards {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: -16px;
   
}

#totalIncomeColor {
    background-color:#1F2B3A;
}

#totalSpendingColor {
    background-color:#DD4318;
}

#netSavingsColor {
    background-color:#56AAB3;
}

#regretRateColor {
    background-color: #45576B;
}

.container-analysis {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    height: 150px;
    
}

#foxTarget img{
    margin-top: -20px;
    margin-right: 0px;
    height: 100%;
  
   
   
}

#analysisTitles{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
}

h1 {
    color:#1F2B3A;
    font-size: 35px;
    padding-bottom: 10px;
    margin: 0px;
    border-bottom: 2px solid #4E8F97;
}

p {
    margin-top: 10px;
    color:#4E8F97;
    font-size: 15px;
}

#myChart {
    
    padding: 30px;
    height: 600px;
    
   
}

#doughnutGraph {
    background-color: white;
    
    margin-top: 15px;
    
    width: 49.25%;
    border-radius: 10px;
    height: auto;
    box-sizing: border-box;
}

#barGraph {
    background-color: white;
    width: 100%;
    margin-top: 0px;
    border-radius: 10px;
    position: relative;
  
   
}

#charts {
    display: flex;
    flex-direction: column;
    gap: 20px;
   
}



#includeTable {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 10px;
    width: 100%
  
    
    

}

#targetCalculationTable {
    
    background: white;
    margin-top: 15px;
    height: auto;
    padding: 2px;
    width: 50%;
    border-collapse: collapse;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 10px;
    
    
    
}


#targetCalculationTable th {
    text-align: left;
    border-bottom: 5px solid #4E8F97;
    color: #4E8F97;
    padding: 8px;
   
}

#targetCalculationTable td {
    padding: 8px;
    border-bottom: 1px solid #eee;
   
}

#barGraphTitle {
   
    margin-top: 0px;
    border-bottom:5px solid #DD4318;
    
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    
    

}

#barGraphTitle h2 {
    
    text-align: center;
    padding: 0px;
    color: #DD4318;

}

#doughnutTitle {
    
    margin-top: 0px;
   
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

  


#doughnutTitle h2{
    margin-top: 0px;
    padding: 12px;
    text-align: center;
    color: #4E8F97;
    border-bottom:5px solid #4E8F97;
   
}