body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #DFDFDF;
}

.container-list {
   margin-left: 350px;
   padding-top: 90px;
   
}



#withdrawBtn {
    background-color:#DD4318;
    border-color: #DD4318;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    color: white;
    margin: 5px 0px;
}

#depositBtn {
    background-color: #1F2B3A;
    border-color: #1F2B3A;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    color: white;
    margin-left: 5px;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #1F2B3A;
    position: fixed;
    height: 100%;
    overflow: auto;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    
}



.sidebar a {
    display: block;
    color: #DFDFDF;
    padding: 16px;
    text-decoration: none;
    font-weight: bolder;
}

.sidebar p {
    top: 0;
    color:#DD4318;
    font-weight:800;
    margin: 10px;
    font-size:x-large;
}

.sidebar a:hover{
    background-color: #DD4318;
    color: #1F2B3A;

}

.navbar {
  position: fixed;
  top: 0;
  left: 250px;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
  background-color: #4E8F97;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);

}

.navbar a {
    padding: 20px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 400;
}



.navbar a:hover {
    text-decoration: underline;
    text-decoration-color: #1F2B3A;
    
    color: #1F2B3A;
}

table {
    width: 90%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    
   
}

th {
    text-align: left;
    background: #4E8F97;
    color: white;
    padding: 12px;
}

td {
    padding: 12px;
    border-bottom: 1px solid #eee;
}

.actionButtons {
    width: 2%;
}
tr:hover {
    background-color: #f8efec;
}

tr:last-child td {
    border-bottom: none;
}


.buttons {
    
    display: flex;
    width: 90%;
   
    justify-content: flex-end;
}

#icon-btn {
    background: #DFDFDF;
    color: #1F2B3A;
    font-weight: 900;
    font-size: xx-large;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    
}

#icon-btn:hover {
    color:#DD4318;
}

.container {
    width: 90%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    height: 400px;
   
    
   
    
}



#container-header {
    margin-top: 0;
    
    margin-bottom: 10px;
    background-color: #4E8F97;
  
    
}

#newTransaction {
   margin-top: 0px;
    color: white;
    padding: 10px;
  
    font-size: x-large;
}



#itemInput{
    margin: 20px;
}

.icon-btn-edit {
    background: transparent;
    border: 1px solid #1F2B3A;
    color: #1F2B3A;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
}

.icon-btn-edit:hover, .icon-btn-delete:hover{
    background: #56AAB3;
    color: white;
}

.icon-btn-delete {
      background: transparent;
    border: 1px solid #DD4318;
    color: #DD4318;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
}

#logo {
    width: 250px;
    height: auto;
    margin-bottom: -30px;
    margin-left: 0px;
}

#fox {
    
    margin-top: auto;
    width: 250px;
    align-self: center;
    margin-bottom: 20px;
    

}

td.Withdraw {
    color: #DD4318;
   
}

#newForm{
    height: 350px;
    padding: 15px;
    gap: 20px;
    font-size: larger;
    
}

.itemGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.itemType {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.purchaseDetails {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#newForm input, #newForm select {
    width: 200px;
   
  
   
}
#newForm input[type="checkbox"] {
    width: auto;
}

.saveTransaction {
  display: flex;
  justify-content: flex-end;
  margin-top: 100px;
}